 
 body{
  font-family: 'Poppins', sans-serif;
 }
 /* Header Start Here */
 
 #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #d2b48c;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

  }
  #navbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
  }

  #navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    transition: 0.3 ease;
  }

  #navbar li a:hover,
  #navbar li a.active{
    color: #000000;
  }

  #navbar li a.active::after,
  #navbar li a:hover::after{
    content: "";
    width: 30px;
    height: 2px;
    background: #000000;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }
  
  .section-pl{
    padding: 40px 80px;
  }

  /* Home Page Start Here */
#B_E{
  background-image: url(img/E_B.jpg);
  height: 92vh;
  width: 100%;
  background-size: cover;
  background-position: top 16% right 0;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#B_E h1{
  font-size: 40px;
  line-height: 60px;
  margin: 25px 0;
}
#B_E p{
  font-size: 17px;
    color: #000000;
    margin: 15px 0 20px 0;
}
#B_E button{
  background-image: url("img/button.png");
  background-color: transparent;
  color: #000000
  transition-duration: 500ms;
  transition-property: all;
  border: 0;
  padding: 14px 88px 14px 65px;
  background-repeat: no-repeat;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

#B_E button:hover{
  background: #d2b48c;
  transform: rotate(5deg);
  transition-timing-function: ease-in;
  
}

#Timepiece{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}


#Timepiece .tp-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.03);
    border: -4px solid #d2b48c;
    border-radius: 4px;
    margin: 15px 0;
  }
  
  #Timepiece .tp-box:hover{
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.06);
    }
  
    #Timepiece .tp-box img{
        width: 100%;
        margin-bottom: 5px;
      }
  
      #Timepiece .tp-box h6{
        display: inline-block;
        padding: 4px 4px 2px 2px;
        line-height: 1;
        border-radius: 4px;
        color: #000000;
        background-color: white;
      }
  
      #Timepiece .tp-box:nth-child(2) h6{
        background-color: white;
      }
      
      #Timepiece .tp-box:nth-child(3) h6{
        background-color: white;
      }
      
      #Timepiece .tp-box:nth-child(4) h6{
        background-color: white;
      }
      
      #Timepiece .tp-box:nth-child(5) h6{
        background-color: white;
      }
      
      #Timepiece .tp-box:nth-child(6) h6{
        background-color: white;
      }
  
  
  